/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --accent-title: #FF0070;
  --bg-color: #000028;
  --subtitle-color: #000028;
  --focus-color: #FF0070;
  --hover-color: rgba(255, 0, 112, 0.40);
  --header-image: url("../images/cover-image-dark.png");
  --font-family: 'IBM Plex Mono';
  --padding-smal: 10px;
  --gap: 50px;
  --margin: 40px;
}