/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-light {
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --accent-title: #FF0070;
  --bg-color: #FFF1F7;
  --subtitle-color: #353430;
  --hover-color: rgba(50, 49, 45, 0.40);
  --focus-color: #353430;
  --header-image: url("../images/cover-image-light.png");
  --font-family: 'IBM Plex Mono';
  --padding: 10px;
  --gap: 50px;
  --margin: 40px;
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-image: url("../images/cover-image-light.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --accent-title: #FF0070;
    --bg-color: #FFF1F7;
    --subtitle-color: #353430;
    --hover-color: rgba(50, 49, 45, 0.40);
    --focus-color: #353430;
    --header-image: url("../images/cover-image-light.png");
    --font-family: 'IBM Plex Mono';
    --padding: 10px;
    --gap: 50px;
    --margin: 40px;
  }
}

.page.theme_light .header__decor {
  display: none;
}

.page.theme_auto .header__decor {
  display: none;
}