/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --accent-title: #FF0070;
  --bg-color: #000028;
  --subtitle-color: #000028;
  --focus-color: #FF0070;
  --hover-color: rgba(255, 0, 112, 0.40);
  --header-image: url("../images/cover-image-dark.png");
  --font-family: 'IBM Plex Mono';
  --padding: 10px;
  --gap: 50px;
  --margin: 40px;
}